# deps
node_modules/
.pnpm-store/

# next
.next/
out/
next-env.d.ts

# env & secrets
.env*
!.env.example

# supabase local
supabase/.branches/
supabase/.temp/

# misc
.DS_Store
*.log
.vercel
.turbo
coverage/
